@page "/EmployeeDetails/{Id}"
@using EmployeeManagement.Data
@inject EmployeeService employeeService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager



<h2>View Employee Details</h2>
<div class="container" id="EmployeeDetails"> <!-- Add id attribute here -->
    <div class="card mb-3 employee-details">
        <div class="card-body">
            <h5 class="card-title">Employee Details</h5>
            <table class="table table-sm">
                <tbody>
                <tr>
                    <th scope="row">Employee ID:</th>
                        <td><i class="fas fa-id-card"></i> @obj.Id</td>
                </tr>
                <tr>
                    <th scope="row">User Name:</th>
                        <td>@obj.UserName</td>
                </tr>
                <tr>
                    <th scope="row">Password:</th>
                        <td>@obj.Password</td>
                </tr>
                <tr>
                    <th scope="row">First Name:</th>
                        <td>@obj.FirstName</td>
                </tr>
                <tr>
                    <th scope="row">Middle Name:</th>
                        <td>@obj.MiddleName</td>
                </tr>
                <tr>
                    <th scope="row">Last Name:</th>
                        <td>@obj.LastName</td>
                </tr>
                <tr>
                    <th scope="row">Postal Code:</th>
                        <td>@obj.PostalCode</td>
                </tr>
                <tr>
                    <th scope="row">Address:</th>
                        <td>@obj.Address</td>
                </tr>
                <tr>
                    <th scope="row">Email Address:</th>
                        <td>@obj.EmailAddress</td>
                </tr>
                <tr>
                    <th scope="row">Phone Number:</th>
                        <td>@obj.PhoneNumber</td>
                </tr>
                <tr>
                    <th scope="row">City:</th>
                        <td>@obj.City</td>
                </tr>
                <tr>
                    <th scope="row">Designation:</th>
                        <td>@obj.Designation</td>
                </tr>
                <tr>
                    <th scope="row">Department:</th>
                        <td>@obj.Department</td>
                </tr>
                <tr>
                    <th scope="row">Region:</th>
                        <td>@obj.Region</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger me-2" @onclick="Print">Print</button>
        <button type="button" class="btn btn-primary" @onclick="Cancel">Back to Employee List</button>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    Employee obj = new Employee();

    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => employeeService.GetEmployeeById(Convert.ToInt32(Id)));
    }

    protected async Task Print()
    {
        await JSRuntime.InvokeVoidAsync("printJS", "EmployeeDetails", "html");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("EmployeeList");
    }
}